{
    "projects": [
        {
            "projectId": "my-gcp-project",
            "secrets": [
                "my-super-secret-1",
                "my-super-secret-2"
            ],
            "odrlPolicy": {
                "uid": "my-gcp-project-secret-policy",
                "permission": [
                    {
                        "target": "my-super-secret-1",
                        "assignee": "user:me@myself.com",
                        "action": "roles/secretmanager.secretAccessor"
                    },
                    {
                        "target": "my-super-secret-2",
                        "assignee": "group:we@ourself.com",
                        "action": "roles/secretmanager.viewer"
                    }
                ]
            }
        }
    ]
}
